@charset "utf-8";

.color-orange {
  font-weight: 800 !important;
  color: #ff6600 !important;
}

.color-blue {
  font-weight: 800 !important;
  color: #2041bf !important;
}

.mb-10 {
  margin-bottom: 2rem !important;
}

/* 레이아웃 */
.m-base-wrap {
  width: 100%;
  /* max-width: 37.5rem; */
  min-width: 37.5rem;
  margin: 0 auto;
  background-color: #fff;
}

.m-base-wrap .m-base-body {
  width: 100%;
  padding-bottom: 2.5rem;
}

.m-base-wrap .m-main-body {
  padding: 0 2.5rem;
}


/* 연금 한눈에 */
.m-body-header .m-main-tit {
  width: 100%;
  height: 11rem; 
  background-color: #fff;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem 0 2.5rem;
}

.m-body-header .m-main-tit .tit-h2 {
  font-size: 1.5rem;
  font-weight: 700;
}


/* 연금포털 재조회 */
.m-main-body .m-popup-pension-info {  
  position: relative;
  left: -2.5rem;
  width: calc(100% + 5rem);
  height: 15rem;
  padding: 1.95rem 2.5rem;
  background-color: #f2f2f2;
}

.m-main-body .m-popup-pension-info .m-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.m-main-body .m-popup-pension-info .m-popup-header .m-popup-txt {
  width: 75%;
  font-size: 1.1rem;
  line-height: 1.75rem;
  font-weight: 400;
  word-spacing: .5px;
  letter-spacing: .5px;
}

.m-main-body .m-popup-pension-info .m-popup-header .m-btn-popup {
  background: url(../img/m_img/m_img_x_l.png) no-repeat;
  background-size: 100%;
  width: 1rem;
  height: 1rem;
}

.m-main-body .m-popup-pension-info .m-refresh-box {
  margin-top: 1.3rem;
}

.m-main-body .m-popup-pension-info .m-refresh-box .m-btn-refresh {
  width: 100%;
  height: 3.5rem;
  background-color: #fff;
  border-radius: .4rem;
  border: .1rem solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-main-body .m-popup-pension-info .m-refresh-box .m-txt-refresh {
  font-size: 1.3rem ;
  font-weight: 400;
  padding-left: .5rem;
  letter-spacing: .5px;
}

.m-main-body .m-popup-pension-info .m-refresh-box .m-btn-refresh .m-icon-refresh {
  display: block;
  width: 1.5rem;
  height: 1.7rem;
  background: url(../img/m_img/m_img_refresh.png) no-repeat;
  background-size: 100%;
}

.m-main-body .m-popup-pension-info .m-refresh-box .m-refresh-annotation {
  display: block;
  font-size: 1.1rem;
  font-weight: 400;
  color: #757575;
  margin-top: 1.5rem;
  letter-spacing: .2px;
}


/* 월 예상연금수령액 */
.m-ex-reward {
  width: 100%;
  height: 34.7rem;
  background-color: #fff;
  padding: 4rem 0 0rem 0rem;
}

.m-ex-reward .m-ex-reward-txt1 {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: .2px;
  padding-left: .6rem;
}

.m-ex-reward .m-ex-reward-txt2 {
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  padding-left: 3.9rem;
  margin-top: .8rem;
}

.m-ex-reward .m-ex-reward-txt2::before {
  content: "";
  position: absolute;
  left: .6rem;
  top: 0;
  width: 2.5rem;
  height: 1.8rem;
  background: url(../img/m_img/m_img_cash.png) no-repeat;
  background-size: 100%;
}

.m-ex-reward .m-amount {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  margin-top: 2rem;
}

.m-ex-reward .m-amount .m-amount-txt1 {
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: -1.5px;
}

.m-ex-reward .m-amount .m-price{
  position: relative;
  left: .6rem;
  bottom: .4rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.m-ex-reward .m-amount .m-btn-view {
  position: relative;
  left: 8.5rem;
  bottom: 1.2rem;
  border-bottom: 1px solid #757575;
}

.m-ex-reward .m-amount .m-view-txt {
  font-size: 1.1rem;
  font-weight: 400;
  color: #212121;
}

.m-ex-reward .m-amount-guid {
  position: relative;
  width: 25.3rem;
  height: 4rem;
  background-color: #454545;
  border-radius: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 2rem;
  margin-top: 2.8rem;
}

.m-ex-reward .m-amount-guid::before {
  content: "";
  position: absolute;
  left: 2.1rem;
  top: -.4rem;
  width: .8rem;
  height: .8rem;
  background-color:#454545;
  transform: rotate(45deg);
}

.m-ex-reward .m-amount-guid .m-amount-guid-txt1 {
  position: relative;
  top: .1rem;
  font-size: 1.1rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: .4px;
}

.m-ex-reward .m-amount-guid .m-guid-button {
  position: relative;
  left: 1.1rem;
  top: .1rem;
  width: .4rem;
  height: .7rem;
  background: url(../img/m_img/m_img_r_arrow.png) no-repeat;
  background-size: 100%;
}

.m-ex-reward .m-chk-amount {
  width: 100%;
  display:flex;
  justify-content: start;
  align-items: flex-start;
  margin-top: 3rem;
  padding-left: .5rem;
}

.m-ex-reward .m-chk-amount .m-chk-amount-item {
  position: relative;
  width: 50%;
}

.m-ex-reward .m-chk-amount .m-chk-amount-item:first-child::before {
  content: "";
  position: absolute;
  right: .2rem;
  top: -.5rem;
  width: .1rem;
  height: 5rem;
  background-color: #f5f5f5;
}

.m-ex-reward .m-chk-amount .m-chk-amount-item:nth-child(2) {
  padding-left: 1.3rem;
}

.m-ex-reward .m-chk-amount .m-chk-amount-item dt {
  font-size: 1.1rem;
  font-weight: 400;
  color: #757575;
  letter-spacing: .5px;
}

.m-ex-reward .m-chk-amount .m-chk-amount-item dd {
  font-size: 1.8rem;
  font-weight: 800;
  margin-top: .8rem;
}

.m-ex-reward .m-chk-amount .m-chk-amount-item .m-amount-annotation {
  display: block;
  font-size: 1.1rem;
  font-weight: 400;
  color: #757575;
  margin-top: 2rem;
  width: 100%;
  white-space: nowrap;
  letter-spacing: .5px;
}

.line {
  position: relative;
  left: -2.5rem;
  width: calc(100% + 5rem);
  height: 1rem;;
  background-color: #f5f5f5;
  border: 0;
  margin: 0;
}


/* 연금 준비 현황 */
.m-prepare-status  .tit-h2 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 4.1rem 0 2rem 0;
  letter-spacing: .2px;
}

.m-prepare-status .m-prepare-status-box {
  width: 100%;
  height: 14.5rem;
  border: .1rem solid #eee;
  border-radius: .8rem;
  background-color: #fff;
  padding: 2.5rem 1.9rem ;
  margin-bottom: 1rem;
}

.m-prepare-status .m-prepare-status-box .tit-h3 {
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 1rem;
  letter-spacing: .2px;
}

.m-prepare-status .m-prepare-status-box .h3-txt {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 2rem;
  letter-spacing: .2px;
}

.m-prepare-status .m-prepare-status-box .m-prepare-status-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.m-prepare-status .m-prepare-status-box .m-prepare-status-item:last-child {
  margin-bottom: 1.4rem;
}

.m-prepare-status .m-prepare-status-box .m-prepare-status-item dt {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: .2px;
  color: #757575;
}

.m-prepare-status .m-prepare-status-box .m-prepare-status-item dd {
  font-size: 1.5rem;
  font-weight: 800;
}

.m-prepare-status .m-prepare-status-box .m-prepare-status-item dd.data {
  font-size: 1.1rem !important;
  font-weight: 400; 
}

.m-prepare-status .m-prepare-status-btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1.4rem;
}

.m-prepare-status .m-prepare-status-btn .base-dot {
  position: relative;
  font-size: 1.1rem;
  font-weight: 400;
  color: #757575;
  padding-left: .6rem;
  line-height: 1.7rem;
  letter-spacing: .5px;
}

.m-prepare-status .m-prepare-status-btn .base-dot::before {
  content: "";
  position: absolute;
  left: 0;
  top: .6rem;
  width: .2rem;
  height: .2rem;
  background-color: #757575;
}

.m-prepare-status .m-prepare-status-btn .base-btn {
  height: 3.5rem;
  border: .1rem solid #bdbdbd;
  border-radius: .4rem;
  background-color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  color: #424242;
  padding: 1rem 1.4rem;
  letter-spacing: -.5px;
  white-space: nowrap;
}

/* 미래에셋 은퇴연구소 */
.m-retire-box {
  margin-top: 4rem;
}

.m-retire-box .m-retire-container {
  width: 100%;
  height: 7rem;
  background-color: #f7f8ff;
  border-radius: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-retire-box .m-retire-txt {
  position: relative;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: .5px;
  padding-right: .4rem;
}

.m-retire-box .m-retire-txt::before {
  content: "";
  position: absolute;
  left: -3.1rem;
  top: -.5rem;
  background: url(../img/m_img/m_img_img.png) no-repeat;
  background-size: 100%;
  width: 2.2rem;
  height: 2.2rem;
}

.m-retire-box .btn-retire {
  position: relative;
  left: 3.2rem;
  width: .6rem;
  height: 1rem;
  background: url(../img/m_img/m_img_r_arrow_black.png) no-repeat;
  background-size: 100%;
}

/* 노후자금계획 */
.m-future-funds {
  max-width: 37.5rem;;
  margin: 3.5rem auto 0 auto;
}

.m-future-funds .m-future-funds-popup {
  position: relative;
  width: 100%;
  height: 5rem;
  background-color: #fff;
  border: .1rem solid #ccc;
  border-radius: .4rem;
  padding: 1.9rem;
}

.m-future-funds .m-future-funds-popup::before {
  content: "";
  position: absolute;
  left: 7.4rem;
  bottom: -.6rem;
  background-color: #fff;
  border: .1rem solid #ccc;
  border-right: 0;
  border-bottom: 0;
  width: 1.1rem;
  height: 1.1rem;
  transform: rotate(-135deg)
}

.m-future-funds .m-future-funds-popup::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: url(../img/m_img/m_img_calculator.png) no-repeat;
  background-size: 100%;
  width: 10.1rem;
  height: 5.4rem;
}

.m-future-funds .m-future-funds-popup .m-future-funds-txt {
  font-size: 1.1rem; 
  font-weight: 700;
}

.m-future-funds .m-future-funds-popup .btn-future-funds {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: url(../img/m_img/m_img_x_s.png) no-repeat;
  background-size: 100%;
  width: .7rem;
  height: .7rem;
}

.m-future-funds .m-future-funds-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.8rem auto 0 auto;
}

.m-future-funds .m-future-funds-btn .future-funds-btn {
  width:15.9rem;
  height: 5.5rem;
  border: 0;
  border-radius: .8rem;
  background-color: #f2760a;
  color: #fff;
  font-size:1.5rem;
  font-weight: 700;
}

.m-future-funds .m-future-funds-btn .future-funds-btn:first-child {
  margin-right:.6rem;
}